/* ========================================= */
/* ADVENTURE */
.adventure {
  width: calc(100% - 200px);
  min-height: calc(100vh - 220px);
  margin: 50px 100px;
  display: grid;
  grid-template-columns: 150px auto 350px;
}

/* ========================================= */
/* ADVENTURE IMAGES */
.adventure-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adventure-image {
  width: 75px;
  height: 75px;
  margin: 4px;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(33, 33, 33, .2), -1px -1px 3px #fff;
  cursor: pointer;
}

.adventure-image img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
  object-position: center;
}

/* ========================================= */
/* ADVENTURE DETAILS */
.adventure-details {
  width: calc(100% - 60px);
  padding: 0 45px 0 15px;
}

.adventure-details h1 {
  width: 90%;
  margin: 0 0 15px 0;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: rgba(113, 90, 255, 1);
}

.adventure-parameters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adventure-parameter {
  display: flex;
  align-items: center;
}

.adventure-parameters p {
  margin: 0 25px 0 0;
  font-size: .825rem;
}

.adventure-parameters p i {
  margin-right: 5px;
}

.adventure-share-icon {
  width: 35px;
  height: 35px;
  margin: 0 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 1px 1px 4px rgba(33, 33, 33, .2), -1px -1px 3px #fff;
  font-size: 1rem;
  cursor: pointer;
}

.adventure-description {
  margin: 20px 0 0 0;
  font-size: .875rem;
  text-align: justify;
}

.adventure-list {
  margin: 50px 0 0 0;
}

.adventure-list p {
  display: flex;
  align-items: center;
  font-size: .875rem;
}

.adventure-list i {
  min-width: 20px;
  margin-right: 5px;
  display: grid;
  place-items: center;
  font-size: .6rem;
}

.adventure-list span {
  font-size: .875rem;
}

.adventure-list span a {
  text-decoration: underline;
}

/* ========================================= */
/* ADVENTURE CART */
.adventure-cart {
  border: 1px solid #eee;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .1), -1px -1px 3px #fff;
  border-radius: 14px;
  padding: 0 20px 0 20px;
  font-size: .875rem;
  background: #fafafa;
}

.adventure-cart h4 {
  margin: 50px 0 15px 0;
}

.adventure-cart-prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adventure-cart-prices p {
  margin: 5px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-input-container {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-input-container h4 {
  margin: 25px 0;
}

.cart-inputs {
  display: flex;
  align-items: center;
}

.adventure-cart input[type='number'] {
  width: 35px;
  padding: 5px 0;
  text-align: center;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2), -1px -1px 3px #fff;
  background: #ffffff;
  outline: none;
}

.adventure-cart span {
  padding: 4px 10px;
  margin: 0 8px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2), -1px -1px 3px #fff;
  background: #ffffff;
  cursor: pointer;
}

.cart-display-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.adventure-cart input[type='radio'] {
  display: none;
}

.booking-times {
  display: flex;
  align-items: flex-start;
}

.booking-time {
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2), -1px -1px 3px #fff;
  background: #ffffff;
  cursor: pointer;
}

.react-datepicker__current-month {
  font-family: 'Montserrat', sans-serif;
}

.react-datepicker__input-container input {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 1px 2px 8px -1px rgba(33, 33, 33, .1);
  width: 90%;
  cursor: pointer;
}

.adventure-cart-button {
  padding: 7px 40px 7px 40px;
  border: 1px solid rgba(113, 90, 255, 1);
  border-radius: 4px;
  background: rgba(113, 90, 255, 1);
  color: white;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 2px 8px -1px rgba(113, 90, 255, .7);
  box-shadow: 0px 1px 21px rgba(113, 90, 255, .3);
}

.adventure-cart-button:disabled {
  background: rgba(0, 177, 0, .5);
  border: 1px solid rgba(0, 177, 0, .5);
  cursor: default;
}

@media (max-width: 768px) {
  .adventure-cart {
    margin-left: -10px;
    margin-right: -10px;
    background: rgba(252 , 252, 252);
    border: 1px solid #eee;
    box-shadow: 0px 4px 15px rgba(33, 33, 33, .4);
    border-radius: 4px;
    padding: 30px 20px 20px 20px;
    border-top-left-radius: 200px 5%;
    border-top-right-radius: 200px 5%;
    font-size: .875rem;
  }

  .adventure-cart-button {
    font-size: .875rem;
  }
}
