/* ========================================= */
/* ADVENTURE */
.adventure {
  width: calc(100% - 200px);
  min-height: calc(100vh - 220px);
  margin: 50px 100px;
  display: grid;
  grid-template-columns: 150px auto 350px;
}

/* ========================================= */
/* ADVENTURE IMAGES */
.adventure-images {
  width: 100%;
  margin: 25px 0 10px 0;
  display: flex;
  align-items: center;
}

.adventure-image {
  width: 55px;
  height: 55px;
  margin: 0 8px 0 0;
  padding: 2px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(33, 33, 33, .2), -1px -1px 3px #fff;
  cursor: pointer;
}

.adventure-image img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
  object-position: center;
}

/* ========================================= */
/* ADVENTURE DETAILS */
.adventure-details {
  width: calc(100% - 60px);
  padding: 0 45px 0 15px;
}

.adventure-details h1 {
  width: 90%;
  margin: 0 0 15px 0;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: rgba(113, 90, 255, 1);
}

.adventure-parameters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adventure-parameter {
  display: flex;
  align-items: center;
}

.adventure-parameters p {
  margin: 0 25px 0 0;
  font-size: .825rem;
}

.adventure-parameters p i {
  margin-right: 5px;
}

.adventure-share-icon {
  width: 35px;
  height: 35px;
  margin: 0 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 1px 1px 4px rgba(33, 33, 33, .2), -1px -1px 3px #fff;
  font-size: 1rem;
  cursor: pointer;
}

.adventure-description {
  margin: 20px 0 0 0;
  font-size: .875rem;
  text-align: justify;
}

.adventure-list {
  margin: 50px 0 0 0;
}

.adventure-list p {
  display: flex;
  align-items: center;
  font-size: .875rem;
}

.adventure-list i {
  min-width: 20px;
  margin-right: 5px;
  display: grid;
  place-items: center;
  font-size: .6rem;
}

.adventure-list span {
  font-size: .875rem;
}

.adventure-list span a {
  text-decoration: underline;
}

.adventure-list p span {
  width: 150px;
}

.adventure-subheader {
  width: 100%;
  height: 50px;
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .75rem;
}

.adventure-subheader div i {
  margin-right: 5px;
}

.adventure-subheader div span:nth-of-type(2) i {
  margin-left: 15px;
}

.adventure-social {
  display: flex;
}

.adventure-social a {
  width: 35px;
  height: 35px;
  margin: 0 0 0 5px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .1), -1px -1px 3px #fff;
}

.adventure-social a i {
  margin: 0;
  color: var(--purple);
}
