.desktop-page-heading {
  margin: 0;
  color: var(--purple);
  font-weight: 900;
}

/* .desktop-page-description {
  width: 100%;
} */

/* ========================================= */
.desktop-adventure-card {
  width: 260px;
  height: 190px;
  margin: 0 20px 25px 0;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .1), -1px -1px 3px #fff;
  position: relative;
  overflow: hidden;
}

.desktop-adventure-card img {
  width: 100%;
  height: calc(100% - 50px);
  object-fit: cover;
  object-position: center;
}

.desktop-adventure-card-price {
  margin: 0;
  padding: 3px 10px;
  position: absolute;
  top: 15px;
  left: 0;
  border-radius: 0 2px 2px 0;
  background: var(--lightpurple);
  color: white;
  font-size: .75rem;
}

.desktop-adventure-card div {
  width: calc(100% - 20px);
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
}

.desktop-adventure-card div p {
  width: calc(100% - 35px);
  margin: 0;
  font-weight: 600;
}

.desktop-adventure-card div i {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .1), -1px -1px 3px #fff;
  display: grid;
  place-items: center;
  font-size: .75rem;
  color: var(--lightpurple);
}

/* ========================================= */
.desktop-album-container {
  margin: 0 25px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.desktop-album {
  width: 200px;
  height: 200px;
  padding: 4px;
  display: grid;
  grid-template-columns: 98px 98px;
  grid-template-rows: 98px 98px;
  grid-gap: 4px;
  border-radius: 11px;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .1), -1px -1px 3px #fff;
  position: relative;
}

.desktop-album img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  object-fit: cover;
  object-position: center;
}

.desktop-album-container h4 {
  width: 190px;
  text-align: center;
}

.desktop-album-blur {
  width: 98px;
  height: 98px;
  display: grid;
  place-items: center;
  position: absolute;
  right: 4px;
  bottom: 4px;
  border-radius: 9px;
  backdrop-filter: blur(10px);
  color: rgba(255, 255, 255, .5);
  font-size: 2rem;
  font-weight: 900;
}

/* ========================================= */
/* ADVENTURE CART */
.adventure-cart-form {
  width: 260px;
}

.adventure-cart-form label {
  font-size: .825rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.adventure-cart-form input[type=number],
.adventure-form-people-button {
  height: 25px;
  margin: 5px 0 15px 0;
  border-radius: 2px;
}

.adventure-cart-form input[type=number] {
  width: 35px;
  padding: 0;
  border: none;
  outline: none;
  text-align: center;
  box-shadow: 0px 0px 11px -3px rgba(33, 33, 33, .2);
}

.adventure-form-people-button {
  width: 25px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background: var(--lightpurple);
  color: white;
}

.adventure-form-people-button:nth-of-type(1) {
  border-radius: 100% 0 0 100%;
}

.adventure-form-people-button:nth-of-type(2) {
  border-radius: 0 100% 100% 0;
}

.adventure-cart-form-times {
  display: flex;
}

.adventure-cart-form-time,
.chosenTime {
  width: 55px;
  margin: 5px 10px 25px 0;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2), -1px -1px 3px #fff;
  text-align: center;
  cursor: pointer;
  font-size: .825rem;
}

.chosenTime {
  background: var(--lightpurple);
  color: #fff;
}

.adventure-cart-form button {
  padding: 8px 35px;
  border: none;
  border-radius: 4px;
  outline: none;
  background: var(--purple);
  color: white;
}

.adventure-cart-form button:disabled {
  background: rgba(113, 90, 255, .5);
  cursor: default;
}

.DatePicker__input.-ltr {
  margin: 5px 0 15px 0 !important;
  text-align: left !important;
  border-radius: 2px !important;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2), -1px -1px 3px #fff !important;
  border: none !important;
}

.responsive-calendar {
  width: 300px !important;
  font-size: 7px !important;
  padding: 0 !important;
}

.Calendar__weekDay {
  color: black !important;
}

.Calendar__yearText,
.Calendar__monthText {
  margin: 0 10px !important;
  padding: 5px !important;
  color: black !important;
}

.Calendar__yearText,
.Calendar__monthText:hover {
  background: none !important;
  transform: none !important;
}

.Calendar__header button span {
  color: green !important;
  margin-right: 0;
  padding-right: 0;
}

.Calendar__monthSelectorItemText,
.Calendar__yearSelectorText {
  color: #000 !important;
  padding: 5px !important;
}


/* ========================================= */
/* SLIDESHOW */
.slideshow {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 1000000;
}

.slideshow i {
  cursor: pointer;
  color: rgba(250, 250, 250, .5);
}

.slideshow i:hover {
  color: white;
  transition-duration: .4s;
}

.slideshow img {
  max-width: 90%;
  max-height: 85vh;
  border-radius: 4px;
}

.slideshow-left-button,
.slideshow-right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
}

.slideshow-left-button {
  left: 5%;
}

.slideshow-right-button {
  right: 5%;
}

.slideshow-numbers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4vh;
  cursor: pointer;
}

.slideshow-numbers div {
  width: 7px;
  height: 7px;
  border: none;
  border-radius: 50%;
  padding: none;
  margin: 0 4px;
  cursor: pointer;
}

.close-slideshow {
  position: absolute;
  top: 3vh;
  right: 5%;
  font-size: 1.5rem;
}
