nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  transition-duration: .4s;
}

nav a:hover {
  color: #ff4500;
}

footer {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, .9);
  display: flex;
  align-items: center;
  color: rgba(250, 250, 250, .5);
}

footer p {
  margin-left: 10%;
  font-size: .7rem;
}

@media (max-width: 768px) {
  nav, footer {
    height: 60px;
  }

  nav a {
    margin: 0 10px;
  }

  footer {
    justify-content: center;
  }

  footer p {
    margin: 0;
  }
}

/* ========================================= */
/* CONTAINER */

main {
  width: 100%;
  min-height: calc(100vh - 120px);
  color: rgba(33, 33, 33);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main nav,
main footer {
  background: white;
  color: rgba(33, 33, 33);
  box-shadow: 0 0 7px rgba(33, 33, 33, .2);
}

main footer {
  justify-content: center;
}

main footer p {
  margin: 0;
}

/* ========================================= */
/* HEADING */

.heading {
  display: flex;
  padding: 0 10px 0 30px;
  justify-content: space-between;
  align-items: center;
}

.heading h1 {
  width: 70%;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.heading span {
  font-size: .8rem;
  color: rgba(33, 33, 33, .5);
}

.heading a {
  color: #ff4500;
  font-weight: 600;
  padding-right: 20px;
}

/* ========================================= */
/* SLIDER */

.slider {
  display: grid;
  grid-template-columns: 90% 90% 90% 90% 90%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 20px;
}

.slider::-webkit-scrollbar {
  display: none;
}

/* ========================================= */
/* SIDEBAR */

.sidebar {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  border-left: 1px solid rgba(250, 250, 250, .4);
  backdrop-filter: blur(7px);
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.sidebar-content {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% calc(50% - 60px) 60px;
}

/* ========================================= */
/* SEARCH */

.search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  width: 70%;
  height: 20px;
  padding: 0 20px 0 3px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  font-family: monospace;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  font-family: monospace;
  color: white;
}

.search span {
  border: none;
  background-color: transparent;
  color: white;
}

main .search {
  max-width: 250px;
  justify-content: flex-start;
  margin-left: 20px;
}

main .search input {
  width: 100%;
  padding: 5px 20px 5px 5px;
  border: 1px solid rgba(33, 33, 33, .1);
  border-radius: 4px;
  color: rgba(33, 33, 33);
}

main .search input::placeholder {
  color: rgba(33, 33, 33);
}

main .search span {
  color: rgba(33, 33, 33);
  margin-left: -25px;
}

/* ========================================= */
/* SIDEBAR POSTS */

.sidebar-posts-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px calc(100% - 60px);
}

.sidebar-posts {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidebar-post {
  width: 100%;
  margin-top: 30px;
  color: white;
  text-decoration: none;
}

.sidebar-post h3 {
  width: 80%;
  margin-left: 5%;
}

.sidebar-post span {
  color: #ff4500;
}

.sidebar-post p {
  width: 80%;
  margin-left: 5%;
}

.sidebar-post hr {
  width: 80%;
  height: .5px;
  margin-left: 5%;
  border: none;
  background-color: rgba(250, 250, 250, .4);
}

/* ========================================= */
/* SIDEBAR GALLERY */

.sidebar-media-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.sidebar-media {
  width: 120%;
  height: 80%;
  margin: 10% 0 10% -30%;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
}

.sidebar-media a {
  width: 100%;
  height: 100%;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 900;
  border-radius: 4px 0 0 4px;
}

.sidebar-media-images {
  width: 100%;
  height: 100%;
  position: relative;
}

.sidebar-media-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 2px 2px 0;
}

.sidebar-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-button a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  color: white;
}

/* ========================================= */
/* POSTCARD */

.postcard {
  width: calc(100% - 5px);
  max-height: 275px;
  margin: 5px 2.5px;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  color: white;
}

.postcard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.postcard-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(33, 33, 33, 0) 50%, rgba(33, 33, 33, .8) 100%);
}

.postcard .icon {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid rgba(250, 250, 250, .7);
  border-radius: 100%;
}

.postcard-add-info {
  width: calc(100% - 40px);
  padding: 0 20px;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.postcard-add-info h3 {
  font-size: 1.5rem;
  margin: 0;
}

.postcard-add-info p {
  font-size: .9rem;
  margin: 10px 0 0 0;
}

/* ========================================= */
/* CONTACT */

.contact-info {
  margin-left: 30px;
}

.contact-info a {
  color: rgba(33, 33, 33, .5);
  line-height: 1.8;
}

.contact-info a span {
  font-size: 120%;
  color: rgba(33, 33, 33, 1);
  font-weight: 600;
}

.contact-form {
  width: calc(100% - 60px);
  max-width: 500px;
  margin-left: 30px;
}

.contact-form input {
  width: calc(100% - 15px);
  margin: 2px 0;
  padding: 5px 10px 5px 5px;
  border: 1px solid rgba(33, 33, 33, .5);
  border-radius: 4px;
  font-family: monospace;
  outline: none;
}

.contact-form textarea {
  width: calc(100% - 15px);
  height: 200px;
  margin: 2px 0;
  padding: 5px 10px 5px 5px;
  border: 1px solid rgba(33, 33, 33, .5);
  border-radius: 4px;
  resize: vertical;
  outline: none;
}

.contact-form button {
  padding: 5px 40px 5px 40px;
  border: 1px solid #00b100;
  border-radius: 4px;
  background: #00b100;
  color: white;
  font-weight: 600;
  font-family: monospace;
  outline: none;
}

.landing-content .contact-info a {
  color: rgba(250, 250, 250, .8);
}

.landing-content .contact-info a span {
  font-size: .8rem;
  color: rgba(250, 250, 250, 1);
}

.landing-content .contact-form {
  width: 350px;
}

.landing-content .contact-form input {
  background: rgba(250, 250, 250, .2);
  color: white;
}

.landing-content .contact-form textarea {
  height: 150px;
  background: rgba(250, 250, 250, .2);
  color: white;
}

.landing-content .contact-form input::placeholder,
.landing-content .contact-form textarea::placeholder {
  color: white;
}

/* ========================================= */
/* RATING */

.rating {
  width: 90%;
  padding-bottom: 30px;
}

.gray {
  color: rgba(33, 33, 33, .8);
}

.rating input[type = 'radio'] {
  display: none;
}

.rating label {
  padding: 0 2px;
  font-size: 1.2rem;
  cursor: pointer;
}

.rating label:nth-of-type(1) {
  margin-left: -3px;
}

/* ========================================= */
/* COMMENTS */

.comments {
  width: 90%;
  padding-bottom: 30px;
}

.comments form {
  width: 100%;
  max-width: 450px;
  margin-bottom: 50px;
}

.comments form input,
.comments form textarea {
  width: calc(100% - 15px);
  margin: 2px 0;
  padding: 5px 10px 5px 5px;
  border: 1px solid rgba(33, 33, 33, .4);
  border-radius: 4px;
  outline: none;
  font-family: monospace;
}

.comments form textarea {
  height: 100px;
  resize: vertical;
}

.comments form button {
  padding: 5px 40px 5px 40px;
  border: 1px solid #00b100;
  border-radius: 4px;
  background: #00b100;
  color: white;
  font-weight: 600;
  font-family: monospace;
  outline: none;
}

.hide-comments {
  display: none;
}

.comments hr {
  width: 45px;
  height: 4px;
  margin: 0;
  border: none;
  background: rgba(33, 33, 33, .2);
}
