/* ========================================= */
/* HEADING */
.heading {
  display: flex;
  padding: 0 10px 0 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.heading h1 {
  width: 70%;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 0;
  color: black;
}

.heading span {
  font-size: .8rem;
  color: rgba(33, 33, 33, .5);
}

.heading a {
  color: #ff4500;
  font-weight: 600;
  margin-top: 22px;
  padding-right: 20px;
}

/* ========================================= */
/* SIDEBAR */
.sidebar {
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-left: 1px solid rgba(250, 250, 250, .4);
  backdrop-filter: blur(7px);
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.sidebar-content {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% calc(50% - 60px) 60px;
}

.sidebar-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-button a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: .75rem;
  color: white;
}

/* ========================================= */
/* SEARCH */
.search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  width: 70%;
  height: 20px;
  padding: 0 20px 0 3px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: .875rem;
  font-family: 'Montserrat', sans-serif;
}

.search input:focus {
  outline: none;
}

.search input::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: .875rem;
}

.search span {
  border: none;
  background-color: transparent;
  color: white;
}

/* ========================================= */
/* SIDEBAR POSTS */
.sidebar-posts-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px calc(100% - 60px);
}

.sidebar-posts {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sidebar-post {
  width: 100%;
  margin-top: 30px;
  color: white;
  text-decoration: none;
}

.sidebar-post h3 {
  width: 80%;
  margin-left: 5%;
  text-transform: capitalize;
  font-size: .9rem;
  font-weight: 600;
}

.sidebar-post span {
  color: #ff4500;
  font-weight: 600;
  margin-right: 5px;
}

.sidebar-post p {
  width: 80%;
  margin-left: 5%;
  opacity: .5;
  font-size: .825rem;
}

.sidebar-post hr {
  width: 80%;
  height: .5px;
  margin-left: 5%;
  border: none;
  background-color: rgba(250, 250, 250, .4);
}

/* ========================================= */
/* SIDEBAR GALLERY */
.sidebar-media-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

.sidebar-media {
  width: 120%;
  height: 80%;
  margin: 10% 0 10% -30%;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
}

.sidebar-media a {
  width: 100%;
  height: 100%;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 4px 0 0 4px;
}

.sidebar-media a:hover {
  color: #ff4500;
  transition-duration: .4s;
}

.sidebar-media-images {
  width: 100%;
  height: 100%;
  position: relative;
}

.sidebar-media-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 2px 2px 0;
}

.sidebar-media-left-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.sidebar-media-number-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}

.sidebar-media-number-button div {
  width: 7px;
  height: 7px;
  border: none;
  border-radius: 50%;
  padding: none;
  margin: 0 4px;
  cursor: pointer;
}

.sidebar-media-right-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* ========================================= */
/* POSTCARD */
/*
.postcard {
  width: calc(100% - 6px);
  max-width: 375px;
  height: 245px;
  padding: 3px;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  background: #eee;
  color: white;
  box-shadow: 5px 5px 15px -5px rgba(33, 33, 33, .5);
  cursor: pointer;
}

.postcard:hover {
  transform: scale(1.02);
}

.postcard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 21px;
}

.postcard-overlay {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, rgba(33, 33, 33, 0) 50%, rgba(33, 33, 33, .8) 100%);
  border-radius: 21px;
}

.postcard .icon {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid rgba(250, 250, 250, .7);
  border-radius: 100%;
}

.postcard-add-info {
  width: calc(100% - 40px);
  padding: 0 20px;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.postcard-add-info h3 {
  font-size: 1.5rem;
  margin: 0;
}

.postcard-add-info p {
  font-size: .9rem;
  margin: 10px 0 0 0;
}
 */
/* ========================================= */
/* ADVENTURE CARD */
.adventurecard-container {
  width: 100%;
  cursor: pointer;
  margin: 0 15px;
}

.adventurecard-container h3 {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  text-transform: capitalize;
  font-size: .975rem;
}

.adventurecard {
  width: calc(100% - 6px);
  max-width: 400px;
  height: 245px;
  padding: 3px;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  background: #eee;
  color: white;
  box-shadow: 5px 5px 15px -5px rgba(33, 33, 33, .5);
}

.adventurecard:hover {
  transform: scale(1.02);
}

.adventurecard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 21px;
}

.adventure-overlay {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, rgba(33, 33, 33, 0) 50%, rgba(33, 33, 33, .8) 100%);
  border-radius: 21px;
}

.adventure-icon {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid rgba(250, 250, 250, .7);
  border-radius: 100%;
  color: #ffc107;
}

.adventurecard-add-info {
  width: calc(100% - 70px);
  padding: 0 20px;
  position: absolute;
  bottom: 10px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: .75rem;
}

/* ========================================= */
/* RATING */
.rating {
  width: 90%;
  padding-bottom: 30px;
}

.gray {
  color: rgba(33, 33, 33, .8);
}

.rating input[type='radio'] {
  display: none;
}

.rating label {
  padding: 0 2px;
  font-size: 1.2rem;
  cursor: pointer;
}

.rating label:nth-of-type(1) {
  margin-left: -3px;
}

/* ========================================= */
/* COMMENTS */
.comments {
  width: 90%;
  padding-bottom: 30px;
}

.comments form {
  width: 100%;
  max-width: 450px;
  margin-bottom: 50px;
}

.comments form textarea {
  width: calc(100% - 15px);
  height: 100px;
  margin: 2px 0;
  padding: 5px 10px 5px 5px;
  border: 1px solid rgba(33, 33, 33, .4);
  border-radius: 4px;
  outline: none;
  font-family: monospace;
  resize: vertical;
}

.comments form button {
  padding: 5px 40px 5px 40px;
  border: 1px solid #00b100;
  border-radius: 4px;
  background: #00b100;
  color: white;
  font-weight: 600;
  font-family: monospace;
  outline: none;
}

.hide-comments {
  display: none;
}

.comments hr {
  width: 45px;
  height: 4px;
  margin: 0;
  border: none;
  background: rgba(33, 33, 33, .2);
}

/* ========================================= */
/* MODAL */
.modal {
  width: 100%;
  height: 100vh;
  background: rgba(33, 33, 33, .9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  max-width: 90%;
  max-height: 90vh;
  object-fit: center;
  object-position: center;
}

.modal i {
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 50px
}

/* ========================================= */
/* SLIDESHOW */
.slideshow {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
}

.slideshow i {
  cursor: pointer;
  color: rgba(250, 250, 250, .5);
}

.slideshow i:hover {
  color: white;
  transition-duration: .4s;
}

.slideshow img {
  max-width: 90%;
  max-height: 85vh;
  border-radius: 4px;
}

.slideshow-left-button,
.slideshow-right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
}

.slideshow-left-button {
  left: 5%;
}

.slideshow-right-button {
  right: 5%;
}

.slideshow-numbers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4vh;
  cursor: pointer;
}

.slideshow-numbers div {
  width: 7px;
  height: 7px;
  border: none;
  border-radius: 50%;
  padding: none;
  margin: 0 4px;
  cursor: pointer;
}

.close-slideshow {
  position: absolute;
  top: 3vh;
  right: 5%;
  font-size: 1.2rem;
}

/* ========================================= */
/* SPINNER */
.spinner-container {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 120px);
  display: grid;
  place-items: center;
  background: transparent;
}

.spinner {
  background: transparent;
  border: 4px solid rgba(250, 250, 250, .1);
  border-radius: 50%;
  border-top: 4px solid #ff4500;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ========================================= */
/* SUCCESS ICON */
@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: 151px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: 36px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: 151px 151px;
  stroke: #00b100;
}

#successAnimationCheck {
  stroke-dasharray: 36px 36px;
  stroke: #00b100;
}

#successAnimationResult {
  fill: #00b100;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;
}

#successAnimation.animated #successAnimationCircle {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle, 0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationCheck {
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck, 0.3s linear 0.9s 1 both fadeOut;
}

#successAnimation.animated #successAnimationResult {
  animation: 0.3s linear 0.9s both fadeIn;
}
