/* ========================================= */
/* ========================================= */
/* DESKTOP */
.desktop-popular {
  width: 100%;
  height: 45vh;
  display: grid;
  grid-template-columns: 65% 35%;
}

.desktop-popular-image {
  width: 95%;
  height: 45vh;
  padding: 2px;
  border-radius: 4px;
  box-shadow: inset 1px 1px 3px rgba(33, 33, 33, .2), inset -1px -1px 3px #fff, 1px 1px 3px rgba(33, 33, 33, .1), 1px 1px 3px #fff;
}

.desktop-popular-image img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
  object-position: center;
}

.desktop-popular h1 {
  margin: 0;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--purple);
}

.desktop-popular p {
  margin: 20px 0 40px 0;
}

.desktop-popular a {
  padding: 10px 35px;
  border-radius: 4px;
  background: rgba(113, 90, 255);
  color: #fff;
}

/* ========================================= */
.desktop-activities-container {
  width: 100%;
  height: calc(100vh - 45vh - 260px);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktop-activities-container h4 {
  margin: 0 0 10px 5px;
}

.desktop-activities {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
}

.desktop-activity {
  width: 100px;
  height: 75px;
  margin: 0 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  box-shadow: inset 1px 1px 3px rgba(33, 33, 33, .2), inset -1px -1px 3px #fff, 1px 1px 3px rgba(33, 33, 33, .1), 1px 1px 3px #fff;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
}

.desktop-activity i {
  font-size: 1rem;
  color: var(--purple);
}

.desktop-activity svg {
  width: 20px;
  margin: 0;
}

.desktop-activity svg path {
  fill: var(--purple);
}

.desktop-activity p {
  margin: 14px 0 0 0;
  font-size: .7rem;
}

/* ========================================= */
.desktop-landing-sidebar-album {
  width: 260px;
  height: 87px;
  margin: 0 0 10px 0;
  padding: 2px;
  display: grid;
  grid-template-columns: calc(33.33% - 3.33px) calc(33.33% - 3.33px) calc(33.33% - 3.33px);
  grid-gap: 5px;
  position: relative;
  border-radius: 14px;
  box-shadow: 1px 1px 3px rgba(33, 33, 33, .2), -1px -1px 3px #fff;
  background: #fff;
}

.desktop-landing-sidebar-album img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  object-fit: cover;
  object-position: center;
}

.desktop-landing-sidebar-album-overlay {
  width: 83.31px;
  height: 87px;
  position: absolute;
  top: 2px;
  right: 2px;
  display: grid;
  place-items: center;
  border-radius: 13px;
  backdrop-filter: blur(7px);
  color: rgba(255, 255, 255, .4);
  font-size: 2rem;
  font-weight: 700;
}

.desktop-landing-sidebar-album-container h4 {
  margin: 0 0 25px 0;
}

.desktop-landing-sidebar-button {
  padding: 5px 0 5px 15px;
  border-left: 3px solid var(--purple);
  position: absolute;
  bottom: 70px;
}

/* ========================================= */
/* ========================================= */
/* MOBILE */
.mobile-landing {
  width: 100%;
  position: relative;
}

.mobile-landing h1 {
  width: calc(100% - 40px);
  margin: 15px 20px 0 20px;
  font-size: 2.5rem;
  font-weight: 900;
  position: relative;
  color: var(--purple);
}

/* ========================================= */
.mobile-adventures-categories {
  width: calc(100% - 20px);
  padding: 50px 0 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-adventures-category-icon {
  width: 75px;
  height: 75px;
  border-radius: 15px;
  background: rgba(33, 33, 33, .03);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .1), -1px -1px 3px #ffffff;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: rgba(113, 90, 255, 1);
}

.mobile-adventures-category-icon svg {
  width: 30px;
  height: 30px;
  fill: rgba(113, 90, 255, 1);
}

.mobile-adventures-categories a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-adventures-categories h3 {
  font-size: .75rem;
  font-weight: 400;
}

/* ========================================= */
.mobile-adventures {
  width: 100%;
}

.mobile-adventures-flex {
  padding: 25px 0 50px 0;
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
}

.mobile-adventures-flex::-webkit-scrollbar {
  display: none;
}

.mobile-adventures-flex svg {
  margin: 25px 0 0 20px;
}

.mobile-adventure {
  width: calc(80% - 8px);
  min-width: 80%;
  height: 425px;
  margin: 0 10px;
  padding: 4px;
  border-radius: 24px;
  background: rgba(33, 33, 33, .03);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .1), -1px -1px 3px #ffffff;
  position: relative;
}

.mobile-adventure img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
  object-position: center;
}

.mobile-adventure-glass {
  width: calc(100% - 8px);
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4px;
  left: 4px;
  border-radius: 11px 11px 17px 17px;
  backdrop-filter: blur(8px);
  color: white;
}

.mobile-adventure-glass h1 {
  width: 80%;
  margin: 15px 15% 15px 5%;
  padding: 0;
  font-size: 1.3rem;
}

.mobile-adventure-glass div {
  width: 55px;
  height: 45px;
  margin-right: 15px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  font-size: 1.2rem;
}

.mobile-adventure-price {
  position: absolute;
  top: 24px;
  left: 2%;
  border-radius: 0 4px 4px 0;
  background: rgba(166, 130, 255, .7);
  color: white;
  font-size: .875rem;
  font-weight: 600;
}

.mobile-adventure-price p {
  margin: 0;
  padding: 6px 15px;
}

/* ========================================= */
.mobile-contact {
  width: 100%;
  height: 100%;
  padding: 0 0 50px 0;
}

.mobile-contact form {
  margin-left: 20px;
}

.mobile-contact-detail {
  margin: 5px 0 5px 20px;
  display: flex;
  align-items: center;
}

.mobile-contact-detail p {
  /* color: rgba(166, 130, 255, .7); */
  font-size: 1rem;
  font-weight: 600;
}

.mobile-contact-icon {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  padding: 5px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  background: #fff;
  box-shadow: inset 3px 3px 3px rgb(250, 255, 255, .1), inset -1px -1px 5px rgb(206, 214, 230, .6);
  font-size: 1.5rem;
  color: rgba(113, 90, 255, 1);
}
