.mobile-landing {
  width: 100%;
  height: 50vh;
  overflow: none;
  position: relative;
  background: rgb(90, 95, 223);
  z-index: -1;
}

.mobile-landing h1 {
  width: 75%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 70px;
  left: 5%;
  font-size: 2.5rem;
  font-weight: 900;
}

.menu-icon {
  width: 35px;
  padding: 20px;
  position: absolute;
  top: 68px;
  right: 5%;
  border-radius: 4px;
  background: rgb(118, 102, 246, .7);
}

.menu-icon-top {
  width: 75%;
  height: 4px;
  margin: 0 0 5px 25%;
  border-radius: 3px;
  background: white;
}

.menu-icon-bottom {
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background: white;
}

/* ========================================= */
.mobile-adventures-container {
  width: 100%;

  margin-top: -2px;
  position: absolute;
  top: 40vh;
  left: 0;
}

.mobile-adventures {
  width: calc(100% - 5%);
  height: 55vh;
  padding: 0 0 25px 5%;
  border-radius: 0 0 0 0;
  color: rgba(96, 49, 22);
}

.mobile-adventures-flex {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
}

.mobile-adventures-flex::-webkit-scrollbar {
  display: none;
}

.mobile-adventures-flex .adventurecard {
  margin-top: 30px;
}

.mobile-adventure {
  min-width: 80%;
  height: 425px;
  margin: 0 20px 0 0;
  border-radius: 24px;
  overflow: hidden;
}

.mobile-adventure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ========================================= */
.mobile-adventures-categories-container {
  width: 100%;
  padding: 25px 0 50px 0;
  border-radius: 35px 0 35px 0;
  box-shadow: 0 0 21px 2px rgba(30, 30, 34, .4);
  background: rgba(30, 30, 34);
  color: rgba(155, 94, 58);
  z-index: 1;
  position: relative;
}

.mobile-adventures-categories {
  padding-left: 7px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.mobile-adventures-categories::-webkit-scrollbar {
  display: none;
}

.mobile-adventures-categories div {
  min-width: 150px;
  margin: 10px;
  padding: 60px 10px 40px 10px;
  border-radius: 11px;
  box-shadow: 0 0 11px 1px rgba(155, 94, 58, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-adventures-categories div i {
  font-size: 2rem;
}

/* ========================================= */
.mobile-albums-container {
  width: 100%;
  background: rgba(30, 30, 34);
  z-index: -1;
}

.mobile-albums {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  border-radius: 35px 0 35px 0;
  background: white;
  color: rgba(96, 49, 22);
}

.mobile-albums-flex {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
}

.mobile-albums-flex::-webkit-scrollbar {
  display: none;
}

.mobile-album-container {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: .925rem;
}

.mobile-album {
  width: 300px;
  height: 300px;
  padding: 6px;
  display: grid;
  grid-template-columns: 147px 147px;
  grid-template-rows: 147px 147px;
  grid-gap: 6px;
  border-radius: 25px;
  background: #eee;
  box-shadow: 0 0 21px 1px rgba(30, 30, 34, .4);
}

.mobile-album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

/* ========================================= */
.mobile-contact-container {
  width: 100%;
  height: 400px;
  background: white;
}

.mobile-contact {
  width: 100%;
  height: 100%;
  border-radius: 35px 0 0 0;
  background: rgba(30, 30, 34);
  color: rgba(155, 94, 58);
}

/* ========================================= */
.mobile-landing-heading {
  height: 50px;
  width: 90%;
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-landing-heading h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.mobile-landing-heading i {
  font-size: 1.5rem;
}

/* ========================================= */
.mobile-section {
  padding: 25px 0 0 0;
  margin: 0;
}

/* ========================================= */
/* SLIDER */
.slider {
  display: grid;
  grid-template-columns: 90% 90% 90% 90% 90%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 0 0 -5px;
  padding: 20px 10px 0 0;
  grid-gap: 10px;
}

.slider::-webkit-scrollbar {
  display: none;
}

/* ========================================= */
/* CATEGORY CARD */
.category-card-container {
  margin-bottom: 20px;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  overflow-x: scroll;
  overflow-y: hidden;
  grid-gap: 10px;
}

.category-card-container::-webkit-scrollbar {
  display: none;
}

.category-card {
  width: 150px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background: #eee;
  box-shadow: 5px 5px 15px -5px rgba(33, 33, 33, .2);
  position: relative;
}

.category-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  z-index: -1;
}

.category-card p {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 0 0 0;
  margin: 0;
  color: rgba(33, 33, 33, 1);
}

.category-card i {
  font-size: 1.7rem;
  color: #ff4500;
}

/* ========================================= */
/* MOBILE GALLERY */
.image-slider {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 20px 0;
  display: flex;
  overflow-y: hidden;
}

.image-slider .album-preview {
  margin: 0 10px;
}

.image-slider h4 {
  width: 80%;
  margin-left: 10%;
  color: black;
  text-align: center;
}

.image-slider::-webkit-scrollbar {
  display: none;
}

.image-slider-img {
  width: calc(100% - 1px);
  height: 380px;
  margin: 0 2px 0 0;
  position: relative;
}

.image-slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
