/* rgba(166, 130, 255, 1);
rgba(113, 90, 255, 1);
rgba(88, 135, 255, 1);
rgba(85, 193, 255, 1);
rgba(16, 46, 74, 1); */
.mobile-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(145deg, #e5eeff, #F2FCFF);
  overflow: hidden;
}

.mobile-watermark {
  position: absolute;
  top: 37%;
  left: -195px;
  font-size: 10.5rem;
  transform: rotate(62deg);
  text-shadow: -6px 6px 15px rgba(33, 33, 33, .2), 6px -6px 15px rgba(255, 255, 255, 0.1);
  color: #e5eeff;
}

.mobile-landing-heading {
  margin: 0 0 -5px 35px;
  font-size: 2.5rem;
  color: #e5eeff;
  text-shadow: 10px 6px 53px rgba(81, 81, 81, 1), 20px -20px 29px rgba(255, 255, 255, 1);
  outline: none;
}

/* ========================================= */
.mobile-landing {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.mobile-landing-header {
  width: calc(100% - 80px);
  margin: 0 40px;
  padding: 20px 0 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-landing-header p {
  color: rgba(166, 130, 255, .7);
  font-size: 1rem;
  font-weight: 700;
  text-shadow: -6px 6px 15px rgba(33, 33, 33, .5), 6px -6px 15px rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.mobile-landing-header i {
  color: rgba(166, 130, 255, .7);
  font-size: 1.2rem;
  font-weight: 900;
  text-shadow: -6px 6px 15px rgba(33, 33, 33, .5), 6px -6px 15px rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.mobile-landing-image {
  width: calc(100% - 40px);
  height: 350px;
  margin: 0 20px;
  background: linear-gradient(145deg, #BCC4D2, #FFFFFF);
  border-radius: 100%;
  box-shadow: 30.03px 30.03px 52px #AFB6C3, -30.03px -30.03px 52px #FFFFFF;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.mobile-landing-image img {
  width: 96%;
  height: 96%;
  margin: 2%;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.mobile-container h1 {
  width: 80%;
  margin: 50px 0 0 10%;
  padding-bottom: 100px;
  color: rgba(113, 90, 255);
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: -6px 6px 15px rgba(113, 90, 255, 0.5), 6px -6px 15px rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2;
}

/* ========================================= */
.mobile-adventures-container {
  width: 100%;
  padding: 50px 0;
}

.mobile-adventures {
  width: 100%;
  height: 55vh;
  padding: 0 0 100px 0;
  border-radius: 0 0 0 0;
  color: rgba(96, 49, 22);
}

.mobile-adventures-flex {
  padding: 25px 0 25px 10px;
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
}

.mobile-adventures-flex::-webkit-scrollbar {
  display: none;
}

.mobile-adventure {
  width: 80%;
  min-width: 80%;
  height: 425px;
  margin: 0 10px;
  border-radius: 24px;
  background: linear-gradient(315deg, #ced6e6, #f5ffff);
  box-shadow: -8px -8px 23px #dae2f2, 8px 8px 23px #f0faff;
  position: relative;
}

.mobile-adventure img {
  width: 96%;
  height: 97%;
  margin: 2% 2% 1.5% 2%;
  border-radius: 18px;
  object-fit: cover;
  object-position: center;
}

.mobile-adventure-glass {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 5%;
  border-radius: 11px 11px 14px 14px;
  backdrop-filter: blur(5px);
}

.mobile-adventure-glass h1 {
  margin: 15px 0;
  padding: 0;
  font-size: 1.5rem;
  text-shadow: -6px 6px 15px rgba(113, 90, 255, .4), 6px -6px 15px rgba(255, 255, 255, 1);
}

.mobile-adventure-price {
  position: absolute;
  top: 24px;
  left: 2%;
  border-radius: 0 4px 4px 0;
  background: rgba(166, 130, 255, .7);
  color: white;
  font-size: .875rem;
  font-weight: 600;
}

.mobile-adventure-price p {
  margin: 0;
  padding: 6px 15px;
}

/* ========================================= */
.mobile-adventures-categories-container {
  width: 100%;
  padding: 50px 0;
}

.mobile-adventures-categories {
  padding: 25px 0 25px 10px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.mobile-adventures-categories::-webkit-scrollbar {
  display: none;
}

.mobile-adventures-category {
  min-width: 150px;
  margin: 10px;
  padding: 50px 10px 25px 10px;
  border-radius: 11px;
  background: #e5eeff;
  box-shadow: 5px 5px 14px #b9c1cf, -5px -5px 14px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-adventures-category-icon {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: linear-gradient(145deg, rgba(166, 130, 255, .4), #f5ffff);
  box-shadow: 9px 9px 20px #a0a7b3, -9px -9px 20px #ffffff;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: rgba(113, 90, 255, 1);
  text-shadow: -6px 6px 15px rgba(113, 90, 255, 0.5), 6px -6px 15px rgba(255, 255, 255, 0.8);
}

.mobile-adventures-category h3 {
  color: rgba(113, 90, 255, 1);
  text-shadow: -6px 6px 15px rgba(113, 90, 255, 0.5), 6px -6px 15px rgba(255, 255, 255, 0.8);
}

/* ========================================= */
.mobile-albums-container {
  width: 100%;
  padding: 25px 0 50px 0;
}

.mobile-albums {
  width: 100%;
}

.mobile-albums-flex {
  padding: 25px 0;
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
}

.mobile-albums-flex::-webkit-scrollbar {
  display: none;
}

.mobile-album-container {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: .925rem;
  color: rgba(113, 90, 255, 1);
  text-shadow: -6px 6px 15px rgba(113, 90, 255, 0.5), 6px -6px 15px rgba(255, 255, 255, 0.8);
}

.mobile-album {
  width: 300px;
  height: 300px;
  padding: 6px;
  display: grid;
  grid-template-columns: 147px 147px;
  grid-template-rows: 147px 147px;
  grid-gap: 6px;
  border-radius: 25px;
  background: linear-gradient(145deg, #f5ffff, #ced6e6);
  box-shadow: 7px 7px 18px #acb3bf, -7px -7px 18px #ffffff;
  position: relative;
}

.mobile-album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}

.mobile-album-blur {
  width: 147px;
  height: 147px;
  display: grid;
  place-items: center;
  position: absolute;
  right: 6px;
  bottom: 6px;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  color: rgba(250, 250, 250, .6);
  font-size: 4rem;
  font-weight: 600;
}

/* ========================================= */
.mobile-contact-container {
  width: 100%;
  height: 400px;
  background: white;
}

.mobile-contact {
  width: 100%;
  height: 100%;
  border-radius: 35px 0 0 0;
  background: rgba(30, 30, 34);
  color: rgba(155, 94, 58);
}

/* ========================================= */
.mobile-landing-heading {
  height: 50px;
  width: 90%;
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-landing-heading h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.mobile-landing-heading i {
  font-size: 1.5rem;
}

/* ========================================= */
.mobile-section {
  padding: 25px 0 0 0;
  margin: 0;
}

/* ========================================= */
/* SLIDER */
.slider {
  display: grid;
  grid-template-columns: 90% 90% 90% 90% 90%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 0 0 -5px;
  padding: 20px 10px 0 0;
  grid-gap: 10px;
}

.slider::-webkit-scrollbar {
  display: none;
}

/* ========================================= */
/* CATEGORY CARD */
.category-card-container {
  margin-bottom: 20px;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  overflow-x: scroll;
  overflow-y: hidden;
  grid-gap: 10px;
}

.category-card-container::-webkit-scrollbar {
  display: none;
}

.category-card {
  width: 150px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background: #eee;
  box-shadow: 5px 5px 15px -5px rgba(33, 33, 33, .2);
  position: relative;
}

.category-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  z-index: -1;
}

.category-card p {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 0 0 0;
  margin: 0;
  color: rgba(33, 33, 33, 1);
}

.category-card i {
  font-size: 1.7rem;
  color: #ff4500;
}

/* ========================================= */
/* MOBILE GALLERY */
.image-slider {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 20px 0;
  display: flex;
  overflow-y: hidden;
}

.image-slider .album-preview {
  margin: 0 10px;
}

.image-slider h4 {
  width: 80%;
  margin-left: 10%;
  color: black;
  text-align: center;
}

.image-slider::-webkit-scrollbar {
  display: none;
}

.image-slider-img {
  width: calc(100% - 1px);
  height: 380px;
  margin: 0 2px 0 0;
  position: relative;
}

.image-slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #a682ffff, #715affff, #5887ffff, #55c1ffff, #102e4aff);
$gradient-right: linear-gradient(90deg, #a682ffff, #715affff, #5887ffff, #55c1ffff, #102e4aff);
$gradient-bottom: linear-gradient(180deg, #a682ffff, #715affff, #5887ffff, #55c1ffff, #102e4aff);
$gradient-left: linear-gradient(270deg, #a682ffff, #715affff, #5887ffff, #55c1ffff, #102e4aff);
$gradient-top-right: linear-gradient(45deg, #a682ffff, #715affff, #5887ffff, #55c1ffff, #102e4aff);
$gradient-bottom-right: linear-gradient(135deg, #a682ffff, #715affff, #5887ffff, #55c1ffff, #102e4aff);
$gradient-top-left: linear-gradient(225deg, #a682ffff, #715affff, #5887ffff, #55c1ffff, #102e4aff);
$gradient-bottom-left: linear-gradient(315deg, #a682ffff, #715affff, #5887ffff, #55c1ffff, #102e4aff);
$gradient-radial: radial-gradient(#a682ffff, #715affff, #5887ffff, #55c1ffff, #102e4aff); */
