/* ========================================= */
/* ALBUMS */
.gallery {
  width: calc(100% - 50px);
  min-height: calc(100vh - 170px);
  padding: 25px;
}

.gallery a h4 {
  width: 90%;
  margin-left: 5%;
  text-transform: capitalize;
  text-align: center;
}

.album-previews {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  justify-content: space-around;
  padding: 25px 0;
}

.album-preview {
  width: 300px;
  height: 300px;
  padding: 6px;
  border-radius: 24px;
  background: #eee;
  display: grid;
  grid-template-columns: 147px 147px;
  grid-template-rows: 147px 147px;
  grid-gap: 6px;
  place-items: center;
  box-shadow: 5px 5px 15px -5px rgba(33, 33, 33, .5);
  position: relative;
}

.album-preview:hover {
  transform: scale(1.02);
}

.album-preview-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
}

.album {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 300px;
  grid-gap: 2px;
  grid-auto-flow: row;
}

@media (max-width: 980px) {
  .album-previews {
    grid-template-columns: 300px 300px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .album {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 415px) {
  .albums {
    width: calc(100% - 10px);
    min-height: calc(100vh - 130px);
    padding: 5px;
  }

  .album-previews {
    width: 100%;
    grid-template-columns: 100%;
    place-items: center;
  }

  .album {
    grid-template-columns: 100%;
  }
}

.album-overlay {
  width: 147px;
  height: 147px;
  display: grid;
  place-items: center;
  position: absolute;
  right: 6px;
  bottom: 6px;
  border-radius: 18px;
  backdrop-filter: blur(7px);
  color: rgba(250, 250, 250, .6);
  font-size: 2.5rem;
}

.album-overlay h2 {
  margin: 0;
}

.album-info {
  padding: 0 30px 10px 30px;
  font-size: .875rem;
}

.album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

/* ========================================= */
/* CONTACT */
.contact-container {
  width: 100%;
  height: calc(100vh - 120px);
  overflow: hidden;
  display: grid;
  grid-template-columns: 40% 60%;
}

.contact {
  padding: 5%;
}

.contact-container iframe {
  width: 95%;
  height: 95%;
  margin: 2.5%;
}

.contact-info {
  margin-left: 30px;
  margin-top: 20px;
}

.contact-info p {
  font-size: .875rem;
  display: flex;
  align-items: center;
}

.contact-info p i {
  width: 35px;
  font-size: 1rem;
}

.contact-info p:nth-of-type(3) i {
  margin-left: 3px;
}

.contact-form {
  width: calc(90% - 60px);
  max-width: 500px;
  margin-left: 30px;
  margin-top: 20px;
}

.contact-form input {
  width: calc(80% - 15px);
  margin: 2px 0;
  padding: 3px 3px 3px 3px;
  border: 1px solid rgba(33, 33, 33, .2);
  border-radius: 2px;
  outline: none;
  font-size: .875rem;
}

.contact-form input:nth-of-type(2) {
  width: calc(90% - 15px);
}

.contact-form textarea {
  width: calc(100% - 15px);
  min-height: 100px;
  margin: 2px 0;
  padding: 3px 3px 3px 3px;
  border: 1px solid rgba(33, 33, 33, .2);
  border-radius: 2px;
  resize: vertical;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: .875rem;
}

.contact-form button {
  padding: 5px 40px 5px 40px;
  border: 1px solid #00b100;
  border-radius: 4px;
  background: #00b100;
  color: white;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  font-size: .875rem;
}

.contact-form p {
  font-size: .875rem;
  color: red;
}

.contact-form-successicon {
  margin: 25px 0 0 30px;
}

.contact-form-successicon h4 {
  color: #00b100;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .contact-container {
    height: auto;
    margin-top: 25px;
    grid-template-columns: 100%;
  }

  .contact-container iframe {
    height: 350px;
  }

  .contact {
    padding: 0;
  }

  .contact-info {
    margin-left: 5%;
    color: black;
  }

  .contact-form {
    width: 90%;
    max-width: 500px;
    margin: 20px 0 20px 5%;
  }
}

/* ========================================= */
/* ADVENTURES */
.adventures {
  width: 100%;
  min-height: calc(100vh - 120px);
  display: grid;
  grid-template-columns: 300px auto;
}

.adventure-categories {
  padding: 50px 0 0 50px
}

.adventure-categories h5 {
  text-transform: uppercase;
  color: rgba(33, 33, 33, .4);
}

.adventure-categories input {
  width: 165px;
  margin-left: -5px;
  padding: 5px 35px 3px 3px;
  border: 1px solid rgba(33, 33, 33, .1);
  border-radius: 2px;
  outline: none;
}

.adventure-categories span {
  margin: 0 0 0 -22px;
  color: rgba(33, 33, 33, .2);
}

.adventure-categories p {
  font-size: .875rem;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .adventures {
    grid-template-columns: 100%;
  }

  .adventure-categories {
    padding: 25px 25px 0 5%;
  }

  .adventure-categories input {
    width: 90%;
  }

  .adventure-categories div {
    margin-top: -15px;
    display: flex;
    overflow-x: scroll;
  }

  .adventure-categories a {
    margin: 0 20px;
  }

  .adventure-categories a:nth-of-type(1) {
    margin-left: 0;
  }
}

/* ========================================= */
/* ADVENTURES */
.adventure-previews {
  width: 100%;
  min-height: calc(100% - 170px);
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: flex-start;
  padding: 25px 0;
  overflow-x: hidden;
}

.adventure-right-container {
  padding: 50px 0 0 0;
}

.adventure-right-container h3 {
  margin-left: 25px;
}

.adventure-intro {
  width: 75%;
  margin-left: 25px;
  text-align: justify;
  font-size: .875rem;
}

@media (max-width: 768px) {
  .adventure-previews {
    width: 100%;
    grid-template-columns: 100%;
  }

  .adventure-right-container {
    padding: 10px 0 0 0;
  }

  .adventure-right-container h3 {
    margin-left: 5%;
  }

  .adventure-intro {
    width: 90%;
    margin: 0 5%;
  }
}

/* ========================================= */
/* ADVENTURE */
.adventure {
  width: calc(100% - 200px);
  min-height: calc(100vh - 220px);
  margin: 50px 100px;
  display: grid;
  grid-template-columns: 150px auto 350px;
}

.adventure-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adventure-images img {
  width: 75px;
  height: 75px;
  margin: 4px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  cursor: pointer;
}

.adventure-content {
  width: calc(100% - 50px);
  padding: 0 25px;
}

.adventure-content h1 {
  width: 90%;
  margin: 0px 25px;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.adventure-first-info {
  margin-left: 30px;
  margin-top: 20px;
  padding-right: 30px;
}

.adventure-first-info p {
  font-size: .875rem;
}

.adventure-first-info hr {
  width: 45px;
  margin: 20px 0;
  height: 6px;
  background: #eee;
  border: none;
}

.adventure-parameters {
  display: flex;
  justify-content: space-between;
}

.adventure-parameters div {
  display: flex;
  align-items: center;
}

.adventure-parameters p {
  margin: 0 25px 0 0;
}

.adventure-parameters a {
  display: none;
}

.adventure-list p {
  display: flex;
  align-items: center;
}

.adventure-list i {
  min-width: 20px;
  margin-right: 10px;
  font-size: .6rem;
  display: flex;
  justify-content: center;
}

.adventure-list h6 {
  font-size: .875rem;
  font-weight: 400;
}

.adventure-list h6 a {
  text-decoration: underline;
}

.adventure-social-share {
  display: flex;
}

.adventure-social-share a i {
  margin: 0 7px 25px 0;
  font-size: 1.3rem;
}

.adventure-hashtags {
  display: flex;
  flex-wrap: wrap;
}

.adventure-hashtag {
  margin: 4px 4px 0 0;
  padding: 3px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 5px 5px 15px -5px rgba(33, 33, 33, .1);
  font-size: .75rem;
}

@media (max-width: 768px) {
  .adventure {
    grid-template-columns: 100%;
    width: calc(100% - 20px);
    margin: 0 10px 2px 10px;
  }

  .adventure-images {
    width: 108%;
    height: 275px;
    margin-left: -5%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-gap: 1px;
  }

  .adventure-images::-webkit-scrollbar {
    display: none;
  }

  .adventure-images img {
    width: 90%;
    height: 100%;
    margin: 0 1px;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
  }

  .adventure-content {
    width: 100%;
    padding: 0 0 25px 0;
  }

  .adventure-content h1 {
    margin: 20px 5% 10px 5%;
  }

  .adventure-parameters {
    justify-content: space-between;
  }

  .adventure-parameters a {
    padding: 7px 20px;
    background: #00b100;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: .875rem;
    display: block;
  }

  .adventure-first-info {
    width: 90%;
    margin: 15px 5%;
  }
}

/* ========================================= */
/* ADVENTURE CART */
.adventure-cart {
  border: 1px solid #eee;
  box-shadow: 0 .4rem .8rem -.1rem rgba(33, 33, 33, .2), 0 0 0 1px #f0f2f7;
  border-radius: 14px;
  padding: 20px 20px 0 20px;
  font-size: .875rem;
}

.adventure-cart table {
  width: 100%;
}

.adventure-cart table td:nth-of-type(2) {
  text-align: right;
}

.adventure-cart hr {
  width: 45px;
  margin: 20px 0;
  height: 6px;
  background: #eee;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-input-container {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-inputs {
  display: flex;
  align-items: center;
}

.adventure-cart input[type='number'] {
  width: 45px;
  padding: 5px 0;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 1px 2px 8px -1px rgba(33, 33, 33, .1);
  outline: none;
  background: none;
}

.adventure-cart span {
  padding: 4px 10px;
  margin: 0 4px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 1px 2px 8px -1px rgba(33, 33, 33, .1);
  cursor: pointer;
}

.cart-display-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.adventure-cart input[type='radio'] {
  display: none;
}

.booking-times {
  display: flex;
  align-items: flex-start;
}

.booking-time {
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 1px 2px 8px -1px rgba(33, 33, 33, .1);
  cursor: pointer;
}

.react-datepicker__current-month {
  font-family: 'Montserrat', sans-serif;
}

.react-datepicker__input-container input {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 1px 2px 8px -1px rgba(33, 33, 33, .1);
  width: 90%;
  cursor: pointer;
}

.adventure-cart-button {
  padding: 5px 40px 5px 40px;
  border: 1px solid #00b100;
  border-radius: 4px;
  background: #00b100;
  color: white;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 2px 8px -1px rgba(0, 177, 0, .8);
  box-shadow: 0px 1px 21px rgb(0, 177, 0, .4);
}

.adventure-cart-button:disabled {
  background: rgba(0, 177, 0, .5);
  border: 1px solid rgba(0, 177, 0, .5);
  cursor: default;
}

@media (max-width: 768px) {
  .adventure-cart {
    margin-left: -10px;
    margin-right: -10px;
    background: rgba(252 , 252, 252);
    border: 1px solid #eee;
    box-shadow: 0px 4px 15px rgba(33, 33, 33, .4);
    border-radius: 4px;
    padding: 30px 20px 20px 20px;
    border-top-left-radius: 200px 5%;
    border-top-right-radius: 200px 5%;
    font-size: .875rem;
  }

  .adventure-cart-button {
    font-size: .875rem;
  }
}

/* ========================================= */
/* CHECKOUT */
.order-container {
  width: calc(100% - 50px);
  min-height: calc(100vh - 170px);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order {
  width: calc(90% - 50px);
  max-width: 550px;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 5px 5px 15px -5px rgba(33, 33, 33, .5);
}

.order h3 {
  text-transform: uppercase;
}

.order img {
  width: 120px
}

.order-header {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-line p {
  margin: 3px 0;
  font-size: .875rem;
}

.order input {
  width: calc(100% - 10px);
  margin: 2px 0;
  padding: 5px;
  border: none;
  outline: none;
}

.order button {
  margin-top: 30px;
  padding: 5px 40px 5px 40px;
  border: 1px solid #00b100;
  border-radius: 4px;
  background: #00b100;
  color: white;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  cursor: pointer;
}

.order button:disabled {
  background: rgba(0, 177, 0, .5);
  border: 1px solid rgba(0, 177, 0, .5);
  cursor: default;
}

.payment-accepted-info {
  margin-top: 200px;
}
