body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: monospace;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.fa-user
.fa-map-marker-alt {
  color: white;
}

.fa-star {
  color: #ffc107;
}

.fa-heart {
  color: #ff4500;
}

.fa-hiking,
.fa-skiing-nordic,
.fa-biking {
  font-size: 1.5rem;
  color: #ff4500;
}

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

.space {
  height: 100px;
}











.something-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.something {
  width: 70%;
  height: 60%;
  background: #eee;
  position: relative;
}

.something img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.something-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.something-number {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}

.something-number div {
  width: 7px;
  height: 7px;
  border: none;
  border-radius: 50%;
  padding: none;
  margin: 0 4px;
  cursor: pointer;
}

.something-right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
